<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="front/style/index.css" />
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="front/js/index.js" type="text/javascript"></script>
    <title>信詠塑膠工業股份有限公司</title>
</head>

<body ng-app="frontApp" ng-controller="about">
    <div ng-include src="'front/views/include/top.html'"></div>
    <div ng-include src="'front/views/include/productType.html'"></div>
    <div id="right">
        <p class="about_title">聯系我們</p>
        <div class="about_intro">
            <div class="about_ul" ng-repeat="one in contactList">
                <ul>
                    <li>{{one.name}}：{{one.detailName}}</li>
                    <li>地址：{{one.address}}</li>
                    <li>TEL：{{one.mobile}}</li>
                    <li>FAX：{{one.fax}}</li>
                    <li>MAIL:{{one.email}}</li>
                    <li>網站：{{one.website}}</li>
                </ul>
                <img
        </div>
    </div>
    <div ng-include src="'front/views/include/foot.html'"></div>
</body>

</html>
