<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="front/style/index.css" />
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="front/js/e_index.js" type="text/javascript"></script>
    <title>BOBBIN BASE CASE SMD series,Hsinyung Plastic Industrial Co. Ltd.</title>
</head>

<body ng-app="frontApp" ng-controller="e_about">
    <div ng-include src="'front/views/include/e_top.html'"></div>
    <div ng-include src="'front/views/include/e_productType.html'"></div>
    <div id="right">
        <p class="about_title">CONTACT US</p>
        <div class="about_intro">
           <!--  <div class="about_ul">
                <ul>
                    <li>Taiwan:Hsin Yung Plastic Industry Company Limited</li>
                    <li>Add:No. 126, Sec.1, Guang Fu Rd., Sanchung City, Taipei
                    </li>
                    <li>TEL:(886-2)29953711(operator)</li>
                    <li>FAX:(886-2)29990010</li>
                    <li>MAIL:sales@hsin-yung.com</li>
                    <li>Web:www.hsin-yung.com</li>
                </ul>
                <img src="front/images/DG.jpg" />
            </div> -->

            <div class="about_ul" ng-repeat="one in contactList">
                <ul>
                    <li>{{one.name}}：{{one.detailName}}</li>
                    <li>Add：{{one.address}}</li>
                    <li>TEL：{{one.mobile}}</li>
                    <li>FAX：{{one.fax}}</li>
                    <li>MAIL:{{one.email}}</li>
                    <li>Web：{{one.website}}</li>
                </ul>
                <img ng-src="{{'/rest/file/'+one.icon}}" ng-if="one.icon" />
            </div>
        </div>
    </div>
    <div ng-include src="'front/views/include/e_foot.html'"></div>
</body>

</html>
