<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="front/style/index.css" />
<script src="assets/js/angular/angular.min.js"></script>
<script src="front/js/e_index.js" type="text/javascript"></script>

<title>信詠塑胶工业股份有限公司</title>
</head>

<body ng-app="frontApp" ng-controller="e_about"> 
	<div ng-include src="'front/views/include/e_top.html'"></div>
	<div ng-include src="'front/views/include/e_productType.html'"></div>
	<div id="right">
		<p class="about_title">联系我们</p>
		<div class="about_intro">
		<div class="about_ul">
			<ul>
				<li>台湾总公司：信詠塑胶工业股份有限公司</li>
				<li>地址：台北县三重市光复路一段126号</li>
				<li>TEL：(886-2)29953711(operator)</li>
				<li>FAX：(886-2)29990010</li>
				<li>MAIL:sales@hsin-yung.com</li>
				<li>网站：www.hsin-yung.com</li>
			</ul>
			<ul>
				<li>东莞外销工厂：信詠塑胶电子厂</li>
				<li>地址：中国广东省东莞市石碣镇西区工业区富园路</li>
				<li>电话：86-0769-89055288</li>
				<li>传真：86-0769-86635843 89055665</li>
				<li>E-MAIL:sales@hsin-yung.com</li>
			</ul>
			<ul>
				<li>苏州分工厂：苏州正杰塑胶电子有限公司</li>
				<li>地址：中国江苏省吴江市经济开发区江陵西路1121号</li>
				<li>电话：86-0512-63457130 63457131</li>
				<li>传真：86-0512-63457132 63462500</li>
				<li>网站：www.jenqjye.com</li>
				<li>邮箱：jenqjye@jenqjye.com</li>
			</ul>
			</div>
			<img src="front/images/DG.jpg"/>
		</div>
	</div>
	<div ng-include src="'front/views/include/e_foot.html'"></div>
</body>
</html>
