<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="front/style/index.css" />
<script src="assets/js/angular/angular.min.js"></script>
<script src="front/js/e_index.js" type="text/javascript"></script>

<title>BOBBIN BASE CASE SMD series,Hsinyung Plastic Industrial Co. Ltd.</title>
</head>

<body ng-app="frontApp" ng-controller="e_engineerings">
	<div ng-include src="'front/views/include/e_top.html'"></div>
	<div id="engineerings-left">
		<div class="engineerings-list">
			<ul id="leftnavtype">
				<li class="list_title">ENGINEERINGS</li>
				<li ng-repeat="one in engineeringsList" ng-click="changeShow($index)">
					<a href>{{one.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="right">
		<p class="engineerings_title">{{engineerings.name}}</p>
		<div class="engineerings_intro">
			<img ng-src="{{'/rest/file/'+engineerings.picture}}" ng-if="engineerings.picture" />
		</div>
	</div>

	<div ng-include src="'front/views/include/e_foot.html'"></div>
</body>
</html>
