<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="front/style/index.css" />
<link rel="stylesheet" href="assets/css/toast.css" />
<script src="assets/js/angular/angular.min.js"></script>
<script src="assets/js/jquery.2.1.1.min.js"></script>
<script src="front/js/e_index.js" type="text/javascript"></script>

<title>BOBBIN BASE CASE SMD series,Hsinyung Plastic Industrial Co. Ltd.</title>
</head>

<body ng-app="frontApp" ng-controller="e_message">
	<div ng-include src="'front/views/include/e_top.html'"></div>
	<div ng-include src="'front/views/include/e_productType.html'"></div>
	<div id="right">
		<p class="message_title">MESSAGE</p>
		<div class="message_intro">
			<p class="message_tip">Valued customer,we are ready to receive your recommendations,we'll reply in time.Thanks!</p>
			<br/>
			<form class="message_form">

				<p>Title：</p>
				<select name="type" class="message_type" ng-model="message.type">
					<option value="0">Simple</option>
					<option value="1">To website opinion</option>
					<option value="2">To company's suggestion</option>
					<option value="3">Has the cooperation intertion</option>
					<option value="4">Products suit</option>
					<option value="5">Service Suit</option>
					<option value="6">Other</option>
				</select><span>*</span><br />
				<p>Name：</p>
				<input type="text" name="username" ng-model="message.username"/><br/>

				<p>Tel：</p>
				<input type="text" name="mobile" ng-model="message.mobile"/><br/>

				<p>Address：</p>
				<input type="text" name="address" ng-model="message.address"/><br/>

				<p>E-mail：</p>
				<input type="text" name="email" ng-model="message.email"/><br/>

				<p class="message_p">Content：</p>
				<textarea ng-model="message.content"></textarea><br/>
				<input type="submit" value="提交留言" class="message_submit" ng-click="submit()">
			</form>
		</div>
	</div>
	<div ng-include src="'front/views/include/e_foot.html'"></div>
	<div ng-include src="'front/views/include/toast.html'"></div>
</body>
</html>



</body>
</html>
