<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link type="text/css" rel="stylesheet" href="front/style/index.css" />
<script src="assets/js/angular/angular.min.js"></script>
<script src="front/js/index.js" type="text/javascript"></script>

<title>信詠塑胶工业股份有限公司</title>
</head>

<body ng-app="frontApp" ng-controller="productType">
	<div ng-include src="'front/views/include/top.html'"></div>
	<div ng-include src="'front/views/include/productType.html'"></div>
	<div id="right">
		<p class="products_list">产品展示</p>
		<div class="np_products">
			<div class="products_first" ng-repeat="one in productTypeList" ng-click="goToProductPage(one.id)">
				<div class="products_img">
					<img ng-src="{{'/rest/file/'+one.icon}}" style="width:128px;height:105px;" ng-if="one.icon" />
					<img src="" style="width:128px;height:105px;" ng-if="!one.icon" />
				</div>
				<div class="products_intro">{{one.name}}</div>
			</div>
		</div>
	</div>
	<div ng-include src="'front/views/include/contact.html'"></div>
	<div ng-include src="'front/views/include/foot.html'"></div>
</body>
</html>
