<meta charset="utf-8" />
<div id="left">
	<div class="list">
		<ul id="leftnavtype">
			<li class="list_title">PRODUCTS</li>
			<li ng-repeat="one in leftProductTypeList">
				<a href="/e_products?type={{one.id}}"> >&nbsp;&nbsp;{{one.name}} </a>
			</li>
		</ul>
	</div>
	<div id="contact">
		<div class="voice">
			<a href="/e_certificates">HONOR</a>
		</div>
		<div class="relation">
			<a href="/e_message">MESSAGE</a>
		</div>
		<div class="address">
			<img src="front/images/e-banner.jpg" height="55" />
			<ul>
				<li>Tel:0512-63457130</li>
				<li>Fax:0512-63457132</li>
				<li>Email:jenqjye@jenqjye.com</li>
			</ul>
		</div>
	</div>
</div>

