<div id="left">
	<div class="list">
		<ul id="leftnavtype">
			<li class="list_title">産品類別</li>
			<li ng-repeat="one in leftProductTypeList">
				<a href="/products?type={{one.id}}"> >&nbsp;&nbsp;{{one.name}} </a>
			</li>
		</ul>
	</div>
	<div id="contact">
		<div class="voice">
			<a href="/certificates">資質榮譽</a>
		</div>
		<div class="relation">
			<a href="/message">在線留言</a>
		</div>
		<div class="address">
			<img ng-src="{{'/rest/file/'+contact.icon}}" ng-if="contact.icon" height="55" />
			<ul>
				<li>{{contact.detailName}}</li>
				<li>電话：{{contact.mobile}}</li>
				<li>傳真：{{contact.fax}}</li>
				<li>Email:{{contact.email}}</li>
			</ul>
		</div>
	</div>
</div>

