<div id="head">
	<div class="day">
		<p class="lang_change">
			<a href="/">中文</a> &nbsp;| &nbsp;<a href="/e_">English</a>
		</p>
	</div>
</div>
<div id="nav">
	<ul>
		<li><a href="/" class="first">首页</a></li>
		<li><a href="/profile">公司简介</a></li>
		<li><a href="/productType">产品展示</a></li>
		<li><a href="/engineerings">工程技术</a></li>
		<li><a href="/certificates">资质荣誉</a></li>
		<li><a href="/about" class="last">联系我们</a></li>
		<li>
			<input type="text" class="search" ng-model="$parent.$parent.searchName" />
			<p class="search_icon" ng-click="searchProduct()">Search</p>
		</li>
	</ul>
</div>
