<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/admin">Home</a>
            </li>

            <li>
                <a href="#">管理员管理</a>
            </li>
            <li class="active">信息编辑</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="fuelux-wizard-container">
                                <div>
                                    <ul class="steps">
                                        <li data-step="1" ng-class="{active: step == 1}" ng-click="step = 1">
                                            <span class="step">1</span>
                                            <span class="title">用户名</span>
                                        </li>

                                        <li data-step="2"  ng-class="{active: step == 2}" ng-click="step = 2">
                                            <span class="step">2</span>
                                            <span class="title">密码</span>
                                        </li>
                                    </ul>
                                </div>

                                <hr />

                                <div class="step-content pos-rel">
                                    <div class="step-pane" ng-class="{active: step == 1}" data-step="1">
                                        <form class="form-horizontal" id="sample-form">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right">新的用户名：</label>

                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="inputWarning" class="width-100" ng-model="username" />
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right">确认用户名：</label>
                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" id="inputWarning" class="width-100" ng-model="username_2" ng-change="validation()" />
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-reset inline has-error">
                                                    <span style="color:red">{{usernameErrorMesssage}}</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right has-error">请输入您的密码确认身份：</label>
                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="inputWarning" class="width-100" ng-model="password"/>
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-reset inline"><span style="color:red">{{passwordErrorMesssage}}</span></div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="step-pane" ng-class="{active: step == 2}" data-step="2">
                                        <form class="form-horizontal" id="sample-form">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right">密码：</label>

                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="inputWarning" class="width-100" ng-model="password" />
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-reset inline has-error">
                                                    <span style="color:red">{{passwordErrorMesssage}}</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right">新密码：</label>
                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="inputWarning" class="width-100" ng-model="newPassword" />
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 control-label no-padding-right has-error">确认新密码：</label>
                                                <div class="col-xs-12 col-sm-5">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" id="inputWarning" class="width-100" ng-model="newPassword_2" ng-change="validation()" />
                                                    </span>
                                                </div>
                                                <div class="help-block col-xs-12 col-sm-reset inline"><span style="color:red">{{newPasswordErrorMesssage}}</span></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div class="wizard-actions" style="text-align: center;">
                                <button class="btn btn-prev" ng-click="submit()">
                                    <i class="ace-icon fa fa-check"></i>
                                    提交
                                </button>

                                &nbsp;&nbsp;&nbsp;&nbsp;

                                <button class="btn btn-success btn-next" data-last="Finish" ng-show="step == 2" ng-click="step = 1">
                                    上一步
                                    <i class="ace-icon fa fa-arrow-left icon-on-right"></i>
                                </button>

                                <button class="btn btn-success btn-next" data-last="Finish" ng-show="step == 1" ng-click="step = 2">
                                    下一步
                                    <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>