<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/admin">Home</a>
            </li>
            <li>
                <a href="#">产品管理</a>
            </li>
            <li class="active">产品编辑</li>
        </ul>
        <!-- /.breadcrumb -->
        <div class="nav-search" id="nav-search">
           
        </div>
        <!-- /.nav-search -->
    </div>
    <div class="page-content">
        <!-- /.ace-settings-container -->
        <div class="page-header">
           
        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form">
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="名称" class="col-xs-10 col-sm-5" ng-model="product.name" />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 产品类型 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" id="form-field-select-1" ng-model="product.productTypeId" ng-options="type.id as type.name for type in productTypeList" ng-change="selectSubType(1)">
                                <option value="">请选择产品类型</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="subProductTypeList.length > 0">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 子产品类型 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" id="form-field-select-1" ng-model="product.subProductTypeId" ng-options="type.id as type.name for type in subProductTypeList">
                                <option value="">请选择产品类型</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 新产品 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" id="form-field-select-1" ng-model="product.isNew">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 描述 </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="描述" class="col-xs-10 col-sm-5" ng-model="product.description" />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Drawing No </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="Drawing No" class="col-xs-10 col-sm-5" ng-model="product.drawingNo" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Core Type </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="Core Type" class="col-xs-10 col-sm-5" ng-model="product.coreType" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Row </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="row" class="col-xs-10 col-sm-5" ng-model="product.row" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Pitch </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="pitch" class="col-xs-10 col-sm-5" ng-model="product.pitch" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Pins </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="Pins" class="col-xs-10 col-sm-5" ng-model="product.pins" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Style </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="Style" class="col-xs-10 col-sm-5" ng-model="product.style" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> M'L </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="M'L" class="col-xs-10 col-sm-5" ng-model="product.ml" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Sec </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="Sec" class="col-xs-10 col-sm-5" ng-model="product.sec" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 图标 </label>
                        <div class="col-sm-9" ng-show="!product.icon">
                            <label class="ace-file-input ace-file-multiple">
                                <input type="file" ngf-select ng-model="icon" name="icon" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ng-change="uploadIcon()" id="id-input-file-3">
                                <span class="ace-file-container" style="width:140px;height:115px;" data-title="上传图标">
                                    <span class="ace-file-name">
                                    <i class=" ace-icon ace-icon fa fa-picture-o"></i>
                                    </span>
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-9" ng-show="product.icon">
                            <div ng-if="product.icon"><img ng-src="{{'/rest/file/'+product.icon}}" style="width:300px;height:300px;">
                            </div>
                            <button class="btn btn-app btn-danger btn-sm" style="width: 300px" ng-click="removeIcon()">
                                <i class="ace-icon fa fa-trash-o bigger-10"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!product.fileName">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 文件 </label>
                        <div class="col-sm-9">
                            <input type="file" ngf-select ng-model="file" name="file" ngf-max-size="20MB" style="margin-top:6px" />
                        </div>

                        <div class="col-sm-9" style="margin-top:10px">
                            <input type="button" id="image" value="上传文件" class="col-xs-10 col-sm-2" ng-click="uploadFile()" />
                            <span>{{upload_file_message}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="product.fileName">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 文件 </label>
                        <div class="col-sm-9" style="margin-top:3px">
                            <span>{{product.fileName}}</span>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn-danger" ng-click="removeFile()" >
                                <!-- 删除文件 -->
                                <i class="ace-icon fa fa-trash-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button" ng-click="submit()">
                                <i class="ace-icon fa fa-check bigger-110"></i> 提交
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset" ng-click="goBack()">
                                <i class="ace-icon fa fa-reply bigger-110"></i> 返回
                            </button>
                        </div>
                    </div>
                    <div class="hr hr-24"></div>
                </form>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
