<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {}
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/admin">Home</a>
            </li>
            <li>
                <a href="#/productType/list">产品类型管理</a>
            </li>
            <li class="active">子产品类型编辑</li>
        </ul>
        <!-- /.breadcrumb -->
        <div class="nav-search" id="nav-search">
        </div>
        <!-- /.nav-search -->
    </div>
    <div class="page-content">
        <!-- /.ace-settings-container -->
        <div class="page-header">
        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 父类型 </label>
                        <div class="col-sm-9">
                            <select class="col-xs-10 col-sm-5" id="form-field-select-1" ng-model="productType.parentProductTypeId" ng-options="type.id as type.name for type in productTypeList">
                                <option value="">请选择产品类型</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称： </label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" placeholder="名称" class="col-xs-10 col-sm-5" ng-model="productType.name" />
                        </div>
                    </div>
                    
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="button" ng-click="submit()" ng-disabled="!productType.name">
                                <i class="ace-icon fa fa-check bigger-110"></i> 提交
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button class="btn" type="reset" ng-click="goBack()">
                                <i class="ace-icon fa fa-reply bigger-110"></i> 返回
                            </button>
                        </div>
                    </div>
                    <div class="hr hr-24"></div>
                    
                </form>
                
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
