* {
	margin: 0px auto;
	padding: 0px;
}

body {
	width: 1005px;
	font-family: Arial, "Microsoft Yahei", Tahoma, Helvetica, STHeiti,
		"Hiragino Sans GB";
}

#head {
	height: 125px;
	color: #336699;
	border-bottom: 1px solid #FFF;
	background-image: url(../images/head.jpg);
}

#head .day {
	height: 30px;
	line-height: 30px;
}

#head .day p {
	display: inline;
	float: right;
	font-size: 14px;
	margin-right: 25px;
	color: #0066CC;
}

#head .day p a {
	text-decoration: none;
	color: #666;
}

#head .day p a:hover {
	text-decoration: underline;
}

#head .lang_change {
	cursor: pointer;
}

#nav {
	width: 1003px;
	height: 40px;
	border: 1px solid #B9B9B9;
	font-size: 18px;
	background-image: url(../images/nav_bg1.jpg);
}

#nav ul li {
	display: inline;
	float: left;
	text-decoration: none;
}

#nav ul li a {
	display: inline-block;
	width: 115px;
	height: 28px;
	margin-top: 6px;
	text-decoration: none;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border-right: 1px solid #B9B9B9;
	border-left: 1px solid #E5E5E5;
}

#nav ul li a.first {
	border-left: 0px;
}

#nav ul li a.last {
	width: 119px;
	border-right: 0px;
}

#nav ul li a:hover {
	height: 40px;
	line-height: 40px;
	margin-top: 0px;
	color: #5C3D13;
	background: #FCE404;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
}

#nav .search {
	float: left;
	margin-left: 42px;
	margin-top: 7px;
	width: 162px;
	height: 25px;
	border: 0px;
	border-right: 1px solid #FAE305;
	outline: medium;
	border-radius: 4px 0px 0px 4px;
}

#nav .search_icon {
	float: left;
	width: 68px;
	height: 25px;
	margin-top: 7px;
	color: #5C3D13;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	border-left: 1px solid #FAE305;
	border-radius: 0px 4px 4px 0px;
	background: #FCE404;
	cursor: pointer;
}

#nav .search_icon:hover {
	border-left: 1px solid #EAD300;
	background: #EAD300;
}

#left {
	float: left;
	width: 208px;
	height: 346px;
	border: 1px solid #DCDCDC;
	margin-top: 6px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#engineerings-left {
	float: left;
	width: 208px;
	height: 782px;
	border: 1px solid #DCDCDC;
	margin-top: 6px;
	margin-bottom: 3px;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#left ul li, #engineerings-left ul li {
	display: inline;
	float: left;
	text-decoration: none;
}

#left .list ul li a {
	display: inline-block;
	width: 192px;
	height: 30px;
	margin-left: 8px;
	text-decoration: none;
	line-height: 30px;
	color: #4387D2;
	font-size: 14px;
	border-bottom: 1px dashed #CBCBCB;
	text-indent: 30px;
}

#left .list_title, #engineerings-left .list_title {
	height: 33px;
	width: 192px;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	color: #2072BC;
	text-indent: 32px;
	margin-left: 8px;
	border-bottom: 4px solid #2072BC;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-o-border-radius: 8px 8px 0px 0px;
}

#left ul li a:hover, #engineerings-left .engineerings-list ul li a:hover
	{
	color: #FFF;
	background: #4D95E8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#engineerings-left .engineerings-list ul li a {
	display: inline-block;
	width: 192px;
	height: 30px;
	margin-left: 8px;
	text-decoration: none;
	line-height: 30px;
	color: #4387D2;
	font-size: 14px;
	border-bottom: 1px dashed #CBCBCB;
	text-indent: 18px;
}

#left ul li a.list_last {
	border-bottom: 0px;
}

#right {
	float: left;
	width: 788px;
	height: 348px;
	margin-top: 6px;
	margin-left: 6px;
}
/*右部分标题*/
#right .company_title, .products_list, .engineerings_title,
	.certificates_title, .about_title {
	width: 786px;
	height: 34px;
	font-size: 18px;
	font-weight: bold;
	line-height: 34px;
	text-indent: 30px;
	border-bottom: 4px solid #4D95E8;
	color: #666;
}

#right .intro {
	width: 784px;
	height: 302px;
	border: 1px solid #E3E3E3;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-o-border-radius: 0px 0px 4px 4px;
	border: 1px solid #E3E3E3;
}

#right .profile_intro, .engineerings_intro, .certificates_intro,
	.about_intro {
	width: 784px;
	height: 672px;
	border: 1px solid #E3E3E3;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-o-border-radius: 0px 0px 4px 4px;
}

#right .engineerings_intro {
	height: 744px;
	text-align: center;
}

#right .intro img {
	float: left;
	margin: 18px 12px 0px 10px;
}

#right .intro p {
	font-size: 14px;
	color: #666;
	line-height: 28px;
	padding: 8px 12px 8px 10px;
}
/*公司简介*/
#right .profile_intro img {
	float: left;
	margin: 18px 12px 0px 10px;
}

#right .profile_intro p {
	font-size: 14px;
	color: #666;
	line-height: 28px;
	padding: 8px 12px 8px 10px;
}
/*产品展示*/
#right .products_detail {
	height: 642px;
}

#right .product_kind, #right .product_detail_kind {
	padding-top: 10px;
}

#right .product_kind table th, #right .product_kind table tr td, #right .product_detail_kind table th,
	#right .product_detail_kind table tr td {
	height: 32px;
	text-align: center;
}

#right .product_kind table th, #right .product_detail_kind table th {
	width: 752px;
	background: #2072BC;
	border: 0px;
	border-bottom: 2px solid #fff;
	font-weight: bolder;
	color: #fff;
}

#right .product_kind_tr {
	color: #fff;
	font-weight: bolder;
	background: #0098E1;
}

#right .product_kind table tr td {
	width: 100px;
	border: 1px solid #fff;
	background: #6AD1FF;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	-o-border-radius: 16px;
}

#right .product_kind table tr td:hover {
	background: #00AAFF;
}

#right .product_detail_kind table tr td {
	border: 1px solid #fff;
	background: #39BCFC;
}
#right .product_infor:hover{
	text-decoration:underline;

}
#right .product_file{
	cursor:pointer;
}
#right .page {
	float: left;
	width: 788px;
	height: 30px;
}

#right .page ul {
	padding-left: 200px;
	align: center;
}

#right .page ul li {
	text-align: center;
	display: inline;
	float: left;
	font-size: 12px;
	color: #666;
	padding: 4px;
}

#right .page ul li a {
	text-decoration: none;
	font-size: 12px;
	color: #666;
}

#right .page ul li a:hover {
	color: #0098E1;
}

#right .page_text {
	margin: 0px 3px 0px 3px;
	width: 42px;
	border: 1px solid #666;
	outline: medium;
}

#right .page_search {
	margin-top: -3px;
	width: 38px;
	height: 23px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #666;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	cursor: pointer;
}

#right .certificates_first, .certificates_second {
	float: left;
	width: 336px;
	height: 568px;
	margin: 50px 8px 40px 32px;
	text-align: center;
	font-weight: bolder;
	color: #333;
}

#right .certificates_first img, .certificates_second img {
	width: 336px;
	height: 532px;
	border: 2px solid #ccc;
	box-shadow: 2px 2px 5px 2px #E0E7EF;
}

#right .certificates_name {
	margin: 15px;
}
/*工程技术*/
#right .engineerings_intro img {
	margin-top: 28px;
	width: 436px;
	height: 672px;
	width: 436px;
}
/*联系我们*/
#right .about_ul {
	float: left;
	width: 420px;
}

#right .about_intro ul {
	width: 350px;
	margin: 30px 0px 30px 28px;
}

#right .about_intro ul li {
	list-style-type: none;
	font-size: 14px;
	height: 26px;
	color: #333;
}

#right .about_intro img {
	margin: 30px 0px 0px 58px;
	float: left;
	width: 250px;
	height: 200px;
}

#contact {
	float: left;
	display: inline;
	margin-top: 2px;
	width: 210px;
}

#contact .voice, .relation {
	width: 210px;
	height: 73px;
	margin-top: 4px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 73px;
	background-image: url(../images/banner2.jpg);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#contact .relation {
	background-image: url(../images/banner.jpg);
}

#contact .address {
	width: 210px;
	margin-top: 5px;
	font-size: 14px;
	text-align: left;
	color: #666;
}

#contact .address ul {
	margin-top: -4px;
	height: 148px;
	border-left: 1px solid #DCDCDC;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
}

#contact .address ul li {
	display: inline-block;
	text-decoration: none;
	text-indent: 8px;
	margin-top: 8px;
	font-weight: bold;
}

#contact img {
	width: 210px;
	height: 55px;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
}

#con {
	float: left;
	width: 778px;
	height: 366px;
	margin-left: 8px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}

.np_head {
	width: 786px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	line-height: 43px;
	color: #0000000;
	text-indent: 30px;
	border-bottom: 3px solid #4D95E8;
}

.pro_title, .pro_more, .products_title, .products_more {
	display: inline-block;
	float: left;
	font-size: 18px;
	color: #666;
}

.pro_more, .products_more {
	float: left;
	margin-left: 580px;
	font-size: 14px;
}

.pro_first, .pro_last, .products_first, .products_last {
	margin: 6px 12px 6px 8px;
	float: left;
	width: 172px;
	height: 145px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px 1px #E0E7EF;
	cursor: pointer;
}

.pro_last, .products_last {
	margin-right: 0px;
}

.np_pro .pro_img, .np_products .products_img {
	padding: 5px 5px 1px 22px;
}

.np_pro .pro_intro, .np_products .products_intro {
	height: 30px;
	color: #fff;
	background: #62AAFA;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

#bottom {
	float: left;
	width: 1005px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background-image: url(../images/nav_bg1.jpg);
	color: #fff;
	text-align: center;
}