* {
	margin: 0px auto;
	padding: 0px;
}

body {
	width: 1005px;
	font-family: Arial, "Microsoft Yahei", Tahoma, Helvetica, STHeiti,
		"Hiragino Sans GB";
}

#head {
	height: 125px;
	color: #336699;
	border-bottom: 1px solid #FFF;
	background-image: url(../images/head.jpg);
}

#head .day {
	height: 30px;
	line-height: 30px;
}

#head .day p {
	display: inline;
	float: right;
	font-size: 14px;
	margin-right: 25px;
	color: #0066CC;
}

#head .day p a {
	text-decoration: none;
	color: #666;
}

#head .day p a:hover {
	text-decoration: underline;
}

#head .lang_change {
	cursor: pointer;
}

#nav {
	width: 1003px;
	height: 40px;
	border: 1px solid #B9B9B9;
	font-size: 18px;
	background-image: url(../images/nav_bg1.jpg);
}

#nav ul li {
	display: inline;
	float: left;
	text-decoration: none;
}

#nav ul li a {
	display: inline-block;
	width: 115px;
	height: 28px;
	margin-top: 6px;
	text-decoration: none;
	line-height: 28px;
	text-align: center;
	color: #fff;
	border-right: 1px solid #B9B9B9;
	border-left: 1px solid #E5E5E5;
}

#nav ul li a.first {
	border-left: 0px;
}

#nav ul li a.last {
	width: 119px;
	border-right: 0px;
}

#nav ul li a:hover {
	height: 40px;
	line-height: 40px;
	margin-top: 0px;
	color: #5C3D13;
	background: #FCE404;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
}

#nav .search {
	float: left;
	margin-left: 42px;
	margin-top: 7px;
	width: 162px;
	height: 25px;
	border: 0px;
	border-right: 1px solid #FAE305;
	outline: medium;
	border-radius: 4px 0px 0px 4px;
}

#nav .search_icon {
	float: left;
	width: 68px;
	height: 25px;
	margin-top: 7px;
	color: #5C3D13;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	border-left: 1px solid #FAE305;
	border-radius: 0px 4px 4px 0px;
	background: #FCE404;
	cursor: pointer;
}
#nav .search_icon:hover{	
	border-left: 1px solid #EAD300;
	background: #EAD300;
}
#left {
	float: left;
	width: 208px;
	height: 346px;
	border: 1px solid #DCDCDC;
	margin-top: 6px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#left ul li {
	display: inline;
	float: left;
	text-decoration: none;
}

#left ul li a {
	display: inline-block;
	width: 192px;
	height: 30px;
	margin-left: 10px;
	text-decoration: none;
	line-height: 30px;
	color: #4387D2;
	font-size: 14px;
	border-bottom: 1px dashed #CBCBCB;
	text-indent: 30px;
}

#left .list_title {
	height: 33px;
	width: 192px;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	color: #2072BC;
	text-indent: 32px;
	margin-left: 10px;
	border-bottom: 4px solid #2072BC;
	border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-o-border-radius: 8px 8px 0px 0px;
}

#left ul li a:hover {
	color: #FFF;
	background: #4D95E8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#left ul li a.list_last {
	border-bottom: 0px;
}

#right {
	float: left;
	width: 788px;
	height: 348px;
	margin-top: 6px;
	margin-left: 2px;
}

#right .company_title {
	width: 770px;
	height: 34px;
	font-size: 18px;
	font-weight: bold;
	line-height: 34px;
	text-indent: 30px;
	border-bottom: 4px solid #4D95E8;
	color: #666;
}

#right .intro {
	width: 768px;
	height: 302px;
	border: 1px solid #E3E3E3;
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-o-border-radius: 0px 0px 4px 4px;
	border: 1px solid #E3E3E3;
}

#right .intro img {
	float: left;
	margin: 18px 12px 0px 10px;
}

#right .intro p {
	font-size: 14px;
	color: #666;
	line-height: 28px;
	padding: 8px 12px 8px 10px;
}

#contact {
	float: left;
	display: inline;
	margin-top: 2px;
	width: 210px;
}

#contact .voice, .relation {
	width: 210px;
	height: 73px;
	margin-top: 4px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 73px;
	background-image: url(../images/banner2.jpg);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}

#contact .relation {
	background-image: url(../images/banner.jpg);
}

#contact .address {
	width: 210px;
	margin-top: 5px;
	font-size: 14px;
	text-align: left;
	color: #666;
}

#contact .address ul {
	margin-top: -4px;
	height: 148px;
	border-left: 1px solid #26B0DF;
	border-right: 1px solid #26B0DF;
	border-bottom: 1px solid #26B0DF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	-o-border-radius: 0px 0px 10px 10px;
}

#contact .address ul li {
	display: inline-block;
	text-decoration: none;
	text-indent: 8px;
	margin-top: 8px;
	font-weight: bold;
}

#contact img {
	width: 210px;
	height: 55px;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
}

#con {
	float: left;
	width: 778px;
	height: 366px;
	margin-left: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
}

#con .np_head {
	width: 762px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	line-height: 43px;
	color: #0000000;
	text-indent: 30px;
	border-bottom: 3px solid #4D95E8;
}

#con .pro_title, .pro_more {
	display: inline-block;
	float: left;
	font-size: 18px;
	color: #666;
}

#con .pro_more {
	float: left;
	margin-left: 540px;
	font-size: 14px;
}

#con .pro_first, .pro_last {
	margin: 6px 12px 6px 8px;
	float: left;
	width: 172px;
	height: 145px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px 1px #E0E7EF;
}

#con .pro_last {
	margin-right: 0px;
}

#con .np_pro .pro_img {
	padding: 5px 5px 1px 22px;
}

#con .np_pro .pro_intro {
	height: 30px;
	color: #fff;
	background: #62AAFA;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
}

#bottom {
	float: left;
	width: 1005px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	background-image: url(../images/nav_bg1.jpg);
	color: #fff;
	text-align: center;
}